<mat-toolbar class="toolbar">
  <span>Card view demo</span>
  <div fxHide.lt-md>
    <span class="column-label">Columns</span>
    <mat-slider [max]="4" [min]="3" [(ngModel)]="gridColumns" [thumbLabel]="true">
    </mat-slider>
  </div>
</mat-toolbar>

<h1>Ihr gewählter Kurs: {{contentSelected02}} </h1>
<h1>Ihr gewähltes Level: {{contentSelected}}</h1>

<div class="content">
  <div fxLayout="row wrap" fxLayoutGap="100px grid">
      <mat-card *ngFor="let file of files" [fxFlex]="(100/(gridColumns+1)) + '%'" fxFlex.xs="100%" fxFlex.sm="33%">
        <div *ngFor="let num of [files.length]">
          <mat-card-header *ngFor="let card of cards">
            <mat-card-subtitle>
              {{file.contentType}}
              <mat-icon *ngIf="file.contentType === 'AUDIO'">audiotrack</mat-icon>
              <mat-icon *ngIf="file.contentType === 'VIDEO'">music_video</mat-icon>
            </mat-card-subtitle>
          <mat-card-title>
            {{file.name}}
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <app-video-input *ngIf="file.contentType === 'VIDEO'" [video]="file.id"></app-video-input>
          <app-audio-input *ngIf="file.contentType === 'AUDIO'" [audio]="file.id"></app-audio-input>
        </mat-card-content>
        {{file.description}}
        </div>
      </mat-card>
  </div>
</div>
