//menu
button{
  font-style: normal;
  font-family: Arial, 'light';
  font-size: 20px;
  margin-top: 1%;
  margin-bottom: 1%;
  background-color: white;
  padding: 0.5%;
  padding-left: 1%;
  padding-right: 1%;
  border: none;
}

#menucontainer{
  border-bottom: 1px solid black;
  margin-bottom: 4%;
  display: flex;
}

#form{
  padding: 5%;
  font-style: normal;
  font-family: Arial, 'light';
  font-size: 20px;
}

p{
  font-size: 20px;
}

input{
  font-size: 18px;
}



.contents-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;

  .contents {
    width: 100%;
    padding: 0 10%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;

    &:nth-child(1) {
      p {
        font-weight: bold;
        font-size: larger
      }
    }

    &:nth-child(2n) {
      background: rgba(3, 143, 128, 0.30);
    }

    p {
      text-align: center;
    }

    .name {
      width: 30%;
    }

    .course {
      width: 30%;
    }

    .activationDate {
      width: 17.5%;
    }

    .expireDate {
      width: 17.5%;
    }

    .daysValid {
      width: 10%;
    }

    .button-wrapper {
      width: 15%;
      display: flex;
      justify-content: center;
    }
  }
}

#create-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5vh 0 0 1vw;
}
