.courses-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;

  .course {
    width: 100%;
    padding: 0 10%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;

    &:nth-child(1) {
      p {
        font-weight: bold;
        font-size: larger
      }
    }

    &:nth-child(2n) {
      background: rgba(3, 143, 128, 0.30);
    }

    p {
      text-align: center;
    }
    .title {
      width: 30%;
    }
    .description{
      width: 35%;
    }
    .level {
      width: 20%;
    }

    .button-wrapper {
      width: 15%;
      display: flex;
      justify-content: center;
    }
  }
}

#create-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5vh 0 0 1vw;
}
