<form [formGroup]="formGroup">
  <h2>Neuen Kurs erstellen </h2>


  <mat-form-field appearance="fill">
    <mat-label>Titel</mat-label>
    <input formControlName="title" name="title" matInput>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Beschreibung</mat-label>
    <input formControlName="description" name="description" matInput>
  </mat-form-field>

  <mat-form-field *ngIf="levels" appearance="fill">
    <mat-select [(value)]="selectedLevel">
      <mat-option *ngFor="let level of levels" [value]="level">{{ level.description }}</mat-option>
    </mat-select>
  </mat-form-field>
  <br>

  <button (click)="cancel()" color="warn" mat-raised-button>Abbrechen</button>
  <button (click)="save()" color="primary" mat-raised-button>Speichern</button>


</form>
