<div class="flexContainer">
  <div class="content-head-container">

    <h1>Wähle deinen Kurs aus</h1>
    <h2>gewähltes Level: {{courseSelected}}</h2>
  </div>
  <div class="content-body">

    <p type="text" name="lname" id="lname">

    <table id="table" border="1">
      <tr>
        <th>Courses</th>
      </tr>

      <tr (click)="courses('Latein')">
        <td>Latein</td>
      </tr>

      <tr (click)="courses('Samba')">
        <td> Samba</td>
      </tr>

      <tr (click)="courses('Rumba')">
        <td>Rumba</td>
      </tr>

      <tr (click)="courses('Cha Cha Cha')">
        <td>Cha Cha Cha</td>
      </tr>

      <tr (click)="courses('Paso')">
        <td>Paso</td>
      </tr>

      <tr (click)="courses('Jive')">
        <td>Jive</td>
      </tr>
    </table>
  </div>

</div>


<!--<script>-->

<!--  var table = document.getElementById('table');-->

<!--  for (var i = 1; i < table.rows.length; i++) {-->
<!--    table.rows[i].onclick = function () {-->
<!--      //rIndex = this.rowIndex;-->
<!--      document.getElementById("fname").value = this.cells[0].innerHTML;-->
<!--    };-->
<!--  }-->

<!--</script>-->
