<div *ngIf="usage" [formGroup]="uploadForm">
  <mat-form-field appearance="fill">
    <mat-select [(value)]="selectedCourse">
      <mat-option *ngFor="let course of courses" [value]="course">{{ course.title }}</mat-option>
    </mat-select>
    <mat-hint>Zuweisung der Datei zum Kurs</mat-hint>
  </mat-form-field>
  <mat-form-field>
    <mat-label>
      Beschreibung
    </mat-label>
    <mat-hint>Beschreibung der Datei</mat-hint>
    <textarea matInput formControlName="description">
    </textarea>
  </mat-form-field>
</div>


<div id="formContainer">
  <form (ngSubmit)="submit()" [formGroup]="uploadForm">
    <p id="textContainer">
      Wählen Sie eine Datei aus : <input id="buttonCreate" (change)="onFileSelect($event)" name="file" type="file"/>
    </p>
    <button id="upload" mat-button type="submit">Hochladen</button>
    <button mat-button (click)="close()" color="warn">Abbrechen</button>
  </form>
</div>

