<div *ngIf="(isLoggedInState|async) || (token|async)" class="menucontainer">
  <button *ngIf="user?.role === 'TEACHER'" [class.selected]="currentTab === '/manage'" mat-button routerLink="/manage">
    Verwalten
  </button>
  <button [class.selected]="currentTab === '/home' || (token|async)" [disabled]="!!(token|async)" mat-button
          routerLink="/home">Dance-Practice
  </button>
  <button (click)="logout()" mat-button>
    <mat-icon>logout</mat-icon>
  </button>
</div>


<router-outlet></router-outlet>
