<div *ngIf="(isLoggedInState|async) || (token|async)" class="menucontainer">
  <button *ngIf="user?.role === 'TEACHER'" [class.selected]="currentTab === '/manage'" mat-button routerLink="/manage">
    Verwalten
  </button>
  <button [class.selected]="currentTab === '/home' || (token|async)" [disabled]="!!(token|async)" mat-button
          routerLink="/home">Dance-Practice
  </button>
  <button (click)="logout()" mat-button>
    <mat-icon>logout</mat-icon>
  </button>
</div>

<h2 *csdIf="true">visible HTL</h2>
<h2 *csdIf="false">hidden HTL</h2>

<router-outlet></router-outlet>
